.u-section-1 {
    background-image: url("../images/BG.svg"); 
    background-position: 50% 50%
}
.u-section-1 .u-sheet-1 {
    min-height: 1036px
}
.u-section-1 .u-image-1 {
    width: 908px; 
    height: 841px; 
    margin: -67px auto 0 776px
}
.u-section-1 .u-text-1 {
    font-weight: 900; 
    line-height: 0.8; 
    font-size: 2.25rem; 
    margin: -363px 891px 0 0
}
.u-section-1 .u-text-2 {
    font-size: 2.25rem; 
    font-weight: normal; 
    margin: -42px 444px 0 249px
}
.u-section-1 .u-text-3 {
    font-size: 2.25rem; 
    font-weight: normal; 
    margin: 0 528px 0 0
}
.u-section-1 .u-form-1 {
    height: 77px; 
    margin: 73px 555px 0 -9px
}
.u-section-1 .u-text-4 {
    font-size: 1.25rem; 
    font-weight: normal; 
    font-style: italic; margin: -93px 937px 60px 6px
} 

@media (max-width: 1199px){ 
.u-section-1 {
    min-height: 854px
}
.u-section-1 .u-sheet-1 {
    min-height: 854px
}
.u-section-1 .u-image-1 {
    margin-left: 32px
}
.u-section-1 .u-text-1 {
    font-size: 12.5rem; 
    margin-top: -362px; 
    margin-right: 691px
}
.u-section-1 .u-text-2 {
    margin-right: 344px; 
    margin-left: 149px
}
.u-section-1 .u-text-3 {
    margin-right: 435px
}
.u-section-1 .u-form-1 {
    margin-right: 455px
}
.u-section-1 .u-text-4 {
    margin-right: 773px; margin-left: 5px
} 

}

@media (max-width: 991px){ 
.u-section-1 {
    min-height: 654px
}
.u-section-1 .u-sheet-1 {
    min-height: 654px
}
.u-section-1 .u-image-1 {
    width: 720px; height: 667px; margin-left: 0}
.u-section-1 .u-text-1 {font-size: 11.25rem; margin-top: -359px; margin-right: 471px}
.u-section-1 .u-text-2 {margin-right: 234px; margin-left: 39px}
.u-section-1 .u-text-3 {margin-right: 333px}
.u-section-1 .u-form-1 {margin-right: 345px}
.u-section-1 .u-text-4 {margin-right: 592px; margin-left: 4px} }

@media (max-width: 767px){ .u-section-1 {min-height: 491px}
.u-section-1 .u-sheet-1 {min-height: 491px}
.u-section-1 .u-image-1 {width: 540px; height: 500px}
.u-section-1 .u-text-1 {font-size: 8.125rem; margin-top: -155px; margin-right: 291px}
.u-section-1 .u-text-2 {margin-right: 93px; margin-left: 0}
.u-section-1 .u-text-3 {margin-right: 250px}
.u-section-1 .u-form-1 {margin-top: 65px; margin-right: 255px}
.u-section-1 .u-text-4 {margin-right: 444px; margin-left: 3px} }

@media (max-width: 575px){ .u-section-1 {min-height: 309px}
.u-section-1 .u-sheet-1 {min-height: 309px}
.u-section-1 .u-image-1 {width: 340px; height: 315px}
.u-section-1 .u-text-1 {font-size: 4.5rem; margin-top: 72px; margin-right: 91px}
.u-section-1 .u-text-2 {font-size: 0.875rem; margin-right: 0}
.u-section-1 .u-text-3 {margin-right: 157px}
.u-section-1 .u-form-1 {margin-right: 155px}
.u-section-1 .u-form-group-1 {width: 100%}
.u-section-1 .u-form-group-2 {width: 100%}
.u-section-1 .u-text-4 {margin-right: 280px; margin-left: 2px} }.u-section-2 {min-height: 784px; background-image: none}
.u-section-2 .u-layout-wrap-1 {width: 284px; margin: 30px auto 0 calc(((100% - 1140px) / 2) + 428px)}
.u-section-2 .u-layout-cell-1 {min-height: 99px}
.u-section-2 .u-container-layout-1 {padding: 20px}
.u-section-2 .u-text-1 {font-size: 3rem; font-weight: 900; margin: 0 auto 0 3px}
.u-section-2 .u-image-1 {width: 830px; height: 560px; margin: -483px auto 0 calc(((100% - 1140px) / 2) + -447px)}
.u-section-2 .u-image-2 {width: 885px; height: 424px; margin: 11px 0 0 auto}
.u-section-2 .u-group-1 {width: 529px; min-height: 70px; margin: -435px auto 0 calc(((100% - 1140px) / 2) + 99px)}
.u-section-2 .u-container-layout-2 {padding: 4px 30px 12px}
.u-section-2 .u-text-2 {font-weight: 700; margin: 0 -8px}
.u-section-2 .u-text-3 {line-height: 2.4; font-size: 1rem; margin: 45px calc(((100% - 1140px) / 2) + 765px) 0 calc(((100% - 1140px) / 2) + 102px)} 

@media (max-width: 1199px){ .u-section-2 .u-layout-wrap-1 {margin-left: calc(((100% - 940px) / 2) + 428px)}
.u-section-2 .u-layout-cell-1 {min-height: 82px}
.u-section-2 .u-image-1 {margin-left: calc(((100% - 940px) / 2) + -447px)}
.u-section-2 .u-group-1 {margin-left: calc(((100% - 940px) / 2) + 99px)}
.u-section-2 .u-text-3 {margin-right: calc(((100% - 940px) / 2) + 665px); margin-left: calc(((100% - 940px) / 2) + 2px)} }

@media (max-width: 991px){ .u-section-2 .u-layout-wrap-1 {margin-left: calc(((100% - 720px) / 2) + 428px)}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-image-1 {margin-left: calc(((100% - 720px) / 2) + -447px)}
.u-section-2 .u-image-2 {width: 720px; height: 345px}
.u-section-2 .u-group-1 {margin-top: -514px; margin-left: calc(((100% - 720px) / 2) + 99px)}
.u-section-2 .u-text-3 {margin-right: calc(((100% - 720px) / 2) + 447px); margin-left: calc(((100% - 720px) / 2))} }

@media (max-width: 767px){ .u-section-2 .u-layout-wrap-1 {margin-left: calc(((100% - 540px) / 2) + 256px)}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-text-1 {margin-left: 17px}
.u-section-2 .u-image-1 {margin-left: calc(((100% - 540px) / 2) + -447px)}
.u-section-2 .u-image-2 {width: 540px; height: 259px}
.u-section-2 .u-group-1 {margin-top: -600px; margin-left: calc(((100% - 540px) / 2) + 11px)}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-text-3 {margin-right: calc(((100% - 540px) / 2) + 267px); margin-left: calc(((100% - 540px) / 2))} }

@media (max-width: 575px){ .u-section-2 .u-layout-wrap-1 {margin-left: calc(((100% - 340px) / 2) + 56px)}
.u-section-2 .u-image-1 {width: 340px; height: 229px; margin-left: calc(((100% - 340px) / 2))}
.u-section-2 .u-image-2 {width: 340px; height: 163px; margin-top: 366px}
.u-section-2 .u-group-1 {width: 340px; margin-top: -529px; margin-left: calc(((100% - 340px) / 2))}
.u-section-2 .u-text-2 {margin-right: 0; margin-left: 0}
.u-section-2 .u-text-3 {margin-top: 376px; margin-right: calc(((100% - 340px) / 2) + 67px); margin-left: calc(((100% - 340px) / 2))} }.u-section-3 {background-image: none; margin-top: 0; margin-bottom: 0; min-height: 100vh}
.u-section-3 .u-image-1 {width: calc(((100% - 1140px) / 2) + 714px); height: 500px; margin: 216px auto 0 0}
.u-section-3 .u-group-1 {width: 453px; min-height: 71px; margin: -549px calc(((100% - 1140px) / 2) + 104px) 0 auto}
.u-section-3 .u-container-layout-1 {padding: 4px 30px 12px}
.u-section-3 .u-text-1 {font-weight: 700; margin: 0 -61px 0 -8px}
.u-section-3 .u-text-2 {line-height: 2.4; font-size: 1rem; margin: 60px calc(((100% - 1140px) / 2) + 125px) 0 calc(((100% - 1140px) / 2) + 742px)} 

@media (max-width: 1199px){ .u-section-3 .u-image-1 {width: 894px; margin-top: 517px; margin-left: calc(((100% - 1140px) / 2) + -80px)}
.u-section-3 .u-group-1 {margin-top: -749px; margin-right: calc(((100% - 1140px) / 2) + 204px)}
.u-section-3 .u-text-2 {margin-top: 22px} }

@media (max-width: 991px){ .u-section-3 .u-image-1 {margin-top: 446px; margin-left: calc(((100% - 1140px) / 2) + 30px)}
.u-section-3 .u-group-1 {margin-right: calc(((100% - 1140px) / 2) + 314px)}
.u-section-3 .u-text-2 {margin-top: -19px; margin-right: calc(((100% - 1140px) / 2) + 210px); margin-left: calc(((100% - 1140px) / 2) + 657px)} }

@media (max-width: 767px){ .u-section-3 .u-image-1 {width: 540px; height: 302px; margin-top: 389px; margin-left: calc(((100% - 1140px) / 2) + 300px)}
.u-section-3 .u-group-1 {margin-top: -583px; margin-right: auto; margin-left: calc(((100% - 1140px) / 2) + 300px)}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-2 {margin-top: -54px; margin-right: calc(((100% - 1140px) / 2) + 300px); margin-left: calc(((100% - 1140px) / 2) + 567px)} }

@media (max-width: 575px){ .u-section-3 .u-image-1 {width: 340px; height: 190px; margin-top: 325px; margin-left: calc(((100% - 1140px) / 2) + 400px)}
.u-section-3 .u-group-1 {width: 340px; margin-top: -487px; margin-left: calc(((100% - 1140px) / 2) + 400px)}
.u-section-3 .u-text-1 {margin-right: 0; margin-left: 0}
.u-section-3 .u-text-2 {margin-top: -92px; margin-right: calc(((100% - 1140px) / 2) + 400px); margin-left: calc(((100% - 1140px) / 2) + 467px)} }.u-section-4 {background-image: none; margin-top: 0; margin-bottom: 0}
.u-section-4 .u-sheet-1 {min-height: 841px}
.u-section-4 .u-layout-wrap-1 {width: 284px; margin: 30px auto 0 428px}
.u-section-4 .u-layout-cell-1 {min-height: 99px}
.u-section-4 .u-container-layout-1 {padding: 20px}
.u-section-4 .u-text-1 {font-size: 3rem; font-weight: 900; margin: 0 auto 0 3px}
.u-section-4 .u-image-1 {width: 774px; height: 458px; filter: brightness(0.75); margin: 13px 181px 0 auto}
.u-section-4 .u-image-2 {width: 278px; height: 134px; filter: brightness(0.2); margin: -296px auto 0 418px}
.u-section-4 .u-text-2 {width: 734px; margin: 213px auto 60px} 

@media (max-width: 1199px){ .u-section-4 {min-height: 767px}
.u-section-4 .u-sheet-1 {min-height: 767px}
.u-section-4 .u-layout-cell-1 {min-height: 82px}
.u-section-4 .u-image-1 {margin-right: 166px}
.u-section-4 .u-image-2 {margin-top: -318px}
.u-section-4 .u-text-2 {margin-left: 11px} }

@media (max-width: 991px){ .u-section-4 {min-height: 706px}
.u-section-4 .u-sheet-1 {min-height: 706px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-image-1 {width: 720px; height: 426px; margin-right: 0}
.u-section-4 .u-image-2 {margin-top: -399px}
.u-section-4 .u-text-2 {margin-left: 8px; width: 720px} }

@media (max-width: 767px){ .u-section-4 {min-height: 620px}
.u-section-4 .u-sheet-1 {min-height: 620px}
.u-section-4 .u-layout-wrap-1 {margin-left: 256px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-text-1 {margin-left: 17px}
.u-section-4 .u-image-1 {width: 540px; height: 320px}
.u-section-4 .u-image-2 {margin-left: 262px}
.u-section-4 .u-text-2 {margin-left: 6px; width: 540px} }

@media (max-width: 575px){ .u-section-4 .u-layout-wrap-1 {margin-left: 56px}
.u-section-4 .u-image-1 {width: 340px; height: 201px; margin-top: 11px}
.u-section-4 .u-image-2 {margin-top: -91px; margin-left: 62px}
.u-section-4 .u-text-2 {margin-left: 4px; width: 340px} }.u-section-5 {background-image: none; margin-top: 0; margin-bottom: 0}
.u-section-5 .u-sheet-1 {min-height: 688px}
.u-section-5 .u-layout-wrap-1 {width: 531px; margin: 40px auto 0 286px}
.u-section-5 .u-layout-cell-1 {min-height: 99px}
.u-section-5 .u-container-layout-1 {padding: 20px}
.u-section-5 .u-text-1 {font-size: 3rem; font-weight: 900; margin: 0 -22px 0 0}
.u-section-5 .u-list-1 {min-height: 388px; grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px); grid-template-rows: auto; grid-gap: 10px 10px; margin: 51px auto 60px 0}
.u-section-5 .u-container-layout-2 {padding: 30px}
.u-section-5 .u-icon-1 {height: 100px; width: 100px; margin: 0 auto}
.u-section-5 .u-text-2 {font-weight: 700; margin: 30px auto 0}
.u-section-5 .u-text-3 {font-size: 1.125rem; margin: 20px 0 0}
.u-section-5 .u-container-layout-3 {padding: 30px}
.u-section-5 .u-icon-2 {height: 100px; width: 100px; margin: 0 auto}
.u-section-5 .u-text-4 {font-weight: 700; margin: 30px auto 0}
.u-section-5 .u-text-5 {font-size: 1.125rem; margin: 20px 0 0}
.u-section-5 .u-container-layout-4 {padding: 30px}
.u-section-5 .u-icon-3 {height: 100px; width: 100px; margin: 0 auto}
.u-section-5 .u-text-6 {font-weight: 700; margin: 30px auto 0}
.u-section-5 .u-text-7 {font-size: 1.125rem; margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-5 {min-height: 767px}
.u-section-5 .u-layout-cell-1 {min-height: 82px}
.u-section-5 .u-list-1 {min-height: 320px; grid-template-columns: repeat(3, calc(33.333333333333336% - 7px)); height: auto; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-5 {min-height: 706px}
.u-section-5 .u-layout-wrap-1 {margin-left: 189px}
.u-section-5 .u-layout-cell-1 {min-height: 100px}
.u-section-5 .u-list-1 {min-height: 735px; grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px)); margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-5 {min-height: 620px}
.u-section-5 .u-layout-wrap-1 {margin-left: 9px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-text-1 {margin-left: 17px}
.u-section-5 .u-list-1 {grid-template-columns: 100%; margin-right: initial; margin-left: initial}
.u-section-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-5 .u-layout-wrap-1 {width: 340px; margin-left: 0}
.u-section-5 .u-text-1 {margin-right: 0} }.u-section-6 {background-image: url("../images/BG.svg"); background-position: 50% 50%; min-height: 1826px}
.u-section-6 .u-image-1 {width: 210px; height: 418px; margin: 314px auto 0 calc(((100% - 1140px) / 2) + 308px)}
.u-section-6 .u-image-2 {width: 210px; height: 418px; margin: -418px calc(((100% - 1140px) / 2) + 327px) 0 auto}
.u-section-6 .u-image-3 {width: 210px; height: 418px; margin: -647px calc(((100% - 1140px) / 2) + 63px) 0 auto}
.u-section-6 .u-group-1 {width: calc(((100% - 1140px) / 2) + 525px); min-height: 224px; margin: -589px auto 0 0}
.u-section-6 .u-container-layout-1 {padding: 30px 30px 17px}
.u-section-6 .u-text-1 {font-size: 1.5rem; font-weight: 700; font-style: italic; margin: 0 -10px 0 265px}
.u-section-6 .u-text-2 {font-weight: 700; font-size: 2rem; margin: 114px calc(((100% - 1140px) / 2) + 330px) 0 calc(((100% - 1140px) / 2) + 606px)}
.u-section-6 .u-text-3 {font-weight: 700; font-size: 2rem; margin: 225px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 854px)}
.u-section-6 .u-text-4 {font-weight: 700; font-size: 2rem; margin: -184px calc(((100% - 1140px) / 2) + 873px) 0 calc(((100% - 1140px) / 2) + 44px)}
.u-section-6 .u-text-5 {font-size: 3rem; font-weight: 900; margin: 432px calc(((100% - 1140px) / 2) + 425px) 0 calc(((100% - 1140px) / 2) + 481px)}
.u-section-6 .u-image-4 {width: 635px; height: 659px; margin: 25px calc(((100% - 1140px) / 2) + 237px) 60px auto} 

@media (max-width: 1199px){ .u-section-6 {min-height: 655px}
.u-section-6 .u-image-1 {margin-top: 277px; margin-left: calc(((100% - 940px) / 2) + 308px)}
.u-section-6 .u-image-2 {margin-top: -241px; margin-right: calc(((100% - 940px) / 2) + 327px)}
.u-section-6 .u-image-3 {margin-top: -381px; margin-right: calc(((100% - 940px) / 2) + 63px)}
.u-section-6 .u-group-1 {width: calc(((100% - 940px) / 2) + 525px); margin-top: -995px}
.u-section-6 .u-text-2 {margin-right: calc(((100% - 940px) / 2) + 318px); margin-left: calc(((100% - 940px) / 2) + 547px)}
.u-section-6 .u-text-3 {margin-right: calc(((100% - 940px) / 2)); margin-left: calc(((100% - 940px) / 2) + 654px)}
.u-section-6 .u-text-4 {width: 204px; margin-right: calc(((100% - 940px) / 2) + 68px); margin-left: calc(((100% - 940px) / 2) + 704px)}
.u-section-6 .u-text-5 {margin-top: 583px; margin-right: calc(((100% - 940px) / 2) + 350px); margin-left: calc(((100% - 940px) / 2) + 397px)}
.u-section-6 .u-image-4 {margin-top: -22px; margin-right: calc(((100% - 940px) / 2) + 237px); margin-bottom: 0} }

@media (max-width: 991px){ .u-section-6 {background-position: 100% 100%}
.u-section-6 .u-image-1 {margin-left: calc(((100% - 720px) / 2) + 308px)}
.u-section-6 .u-image-2 {margin-right: calc(((100% - 720px) / 2) + 327px)}
.u-section-6 .u-image-3 {margin-right: calc(((100% - 720px) / 2) + 63px)}
.u-section-6 .u-group-1 {width: calc(((100% - 720px) / 2) + 525px)}
.u-section-6 .u-text-2 {margin-right: calc(((100% - 720px) / 2) + 244px); margin-left: calc(((100% - 720px) / 2) + 419px)}
.u-section-6 .u-text-3 {margin-right: calc(((100% - 720px) / 2)); margin-left: calc(((100% - 720px) / 2) + 434px)}
.u-section-6 .u-text-4 {margin-right: calc(((100% - 720px) / 2) + 52px); margin-left: calc(((100% - 720px) / 2) + 539px)}
.u-section-6 .u-text-5 {margin-right: calc(((100% - 720px) / 2) + 268px); margin-left: calc(((100% - 720px) / 2) + 304px)}
.u-section-6 .u-image-4 {margin-right: calc(((100% - 720px) / 2) + 85px)} }

@media (max-width: 767px){ .u-section-6 .u-image-1 {margin-left: calc(((100% - 540px) / 2) + 308px)}
.u-section-6 .u-image-2 {margin-right: calc(((100% - 540px) / 2) + 327px)}
.u-section-6 .u-image-3 {margin-right: calc(((100% - 540px) / 2) + 63px)}
.u-section-6 .u-group-1 {width: calc(((100% - 540px) / 2) + 525px)}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-text-2 {margin-right: calc(((100% - 540px) / 2) + 183px); margin-left: calc(((100% - 540px) / 2) + 314px)}
.u-section-6 .u-text-3 {margin-right: calc(((100% - 540px) / 2)); margin-left: calc(((100% - 540px) / 2) + 254px)}
.u-section-6 .u-text-4 {margin-right: calc(((100% - 540px) / 2) + 39px); margin-left: calc(((100% - 540px) / 2) + 404px)}
.u-section-6 .u-text-5 {margin-top: 484px; margin-right: calc(((100% - 540px) / 2) + 201px); margin-left: calc(((100% - 540px) / 2) + 228px)}
.u-section-6 .u-image-4 {width: 540px; height: 560px; margin-top: 77px; margin-right: calc(((100% - 540px) / 2))} }

@media (max-width: 575px){ .u-section-6 .u-image-1 {margin-left: calc(((100% - 340px) / 2) + 130px)}
.u-section-6 .u-image-2 {margin-right: calc(((100% - 340px) / 2) + 130px)}
.u-section-6 .u-image-3 {margin-right: calc(((100% - 340px) / 2) + 63px)}
.u-section-6 .u-group-1 {width: calc(((100% - 340px) / 2) + 340px)}
.u-section-6 .u-text-1 {margin-left: 173px}
.u-section-6 .u-text-2 {margin-right: calc(((100% - 340px) / 2) + 115px); margin-left: calc(((100% - 340px) / 2) + 198px)}
.u-section-6 .u-text-3 {margin-right: calc(((100% - 340px) / 2)); margin-left: calc(((100% - 340px) / 2) + 54px)}
.u-section-6 .u-text-4 {margin-right: calc(((100% - 340px) / 2) + 25px); margin-left: calc(((100% - 340px) / 2) + 254px)}
.u-section-6 .u-text-5 {font-size: 1.5rem; margin-top: 583px; margin-right: calc(((100% - 340px) / 2) + 127px); margin-left: calc(((100% - 340px) / 2) + 144px)}
.u-section-6 .u-image-4 {width: 340px; height: 353px; margin-top: 30px; margin-right: calc(((100% - 340px) / 2))} }.u-section-7 {background-image: none}
.u-section-7 .u-sheet-1 {min-height: 763px}
.u-section-7 .u-text-1 {font-weight: 900; font-size: 3rem; margin: 100px 270px 0 255px}
.u-section-7 .u-text-2 {font-size: 1.25rem; margin: 30px 87px 0 107px}
.u-section-7 .u-layout-wrap-1 {width: 1140px; margin: 16px auto 60px}
.u-section-7 .u-layout-cell-1 {min-height: 424px}
.u-section-7 .u-container-layout-1 {padding: 30px}
.u-section-7 .u-image-1 {width: 150px; height: 150px; background-image: url("../images/orsus_launch-1.jpg"); background-position: 50% 50%; margin: 0 auto}
.u-section-7 .u-text-3 {text-transform: uppercase; letter-spacing: 2px; font-weight: 500; margin: 30px 0 0}
.u-section-7 .u-text-4 {text-transform: uppercase; letter-spacing: 4px; margin: 16px 0 0}
.u-section-7 .u-icon-1 {height: 63px; width: 64px; margin: 8px 38px 0 auto}
.u-section-7 .u-icon-2 {height: 63px; width: 64px; background-image: none; margin: -62px auto 0 38px}
.u-section-7 .u-layout-cell-2 {min-height: 424px}
.u-section-7 .u-container-layout-2 {padding: 30px}
.u-section-7 .u-image-2 {width: 150px; height: 150px; background-image: url("../images/orsus_launch-2.jpg"); background-position: 50% 50%; margin: 0 auto}
.u-section-7 .u-text-5 {text-transform: uppercase; letter-spacing: 2px; font-weight: 500; margin: 30px 0 0}
.u-section-7 .u-text-6 {text-transform: uppercase; letter-spacing: 4px; margin: 16px 0 0}
.u-section-7 .u-icon-3 {height: 63px; width: 64px; margin: 8px 38px 0 auto}
.u-section-7 .u-icon-4 {height: 63px; width: 64px; margin: -62px auto 0 38px}
.u-section-7 .u-layout-cell-3 {min-height: 424px}
.u-section-7 .u-container-layout-3 {padding: 30px}
.u-section-7 .u-image-3 {width: 150px; height: 150px; background-image: url("../images/orsus_launch-3.jpg"); background-position: 50% 50%; margin: 0 auto}
.u-section-7 .u-text-7 {text-transform: uppercase; letter-spacing: 2px; font-weight: 500; font-size: 1.125rem; margin: 30px 0 0}
.u-section-7 .u-text-8 {text-transform: uppercase; letter-spacing: 4px; margin: 16px 0 0}
.u-section-7 .u-icon-5 {height: 63px; width: 64px; margin: 8px 38px 0 auto}
.u-section-7 .u-icon-6 {height: 63px; width: 64px; margin: -62px auto 0 38px}
.u-section-7 .u-layout-cell-4 {min-height: 424px}
.u-section-7 .u-container-layout-4 {padding: 30px}
.u-section-7 .u-image-4 {width: 150px; height: 150px; background-image: url("../images/orsus_launch-4.jpg"); background-position: 50% 50%; margin: 0 auto}
.u-section-7 .u-text-9 {text-transform: uppercase; letter-spacing: 2px; font-weight: 500; margin: 30px 0 0}
.u-section-7 .u-text-10 {text-transform: uppercase; letter-spacing: 4px; margin: 16px 0 0}
.u-section-7 .u-icon-7 {height: 63px; width: 64px; margin: 8px 38px 0 auto}
.u-section-7 .u-icon-8 {height: 63px; width: 64px; margin: -62px auto 0 38px} 

@media (max-width: 1199px){ .u-section-7 {min-height: 616px}
.u-section-7 .u-sheet-1 {min-height: 689px}
.u-section-7 .u-text-1 {margin-left: 210px; margin-right: 223px}
.u-section-7 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-7 .u-layout-wrap-1 {width: 940px}
.u-section-7 .u-layout-cell-1 {min-height: 350px}
.u-section-7 .u-layout-cell-2 {min-height: 350px}
.u-section-7 .u-text-5 {height: 28px}
.u-section-7 .u-text-6 {height: 75px}
.u-section-7 .u-layout-cell-3 {min-height: 350px}
.u-section-7 .u-text-7 {height: 28px}
.u-section-7 .u-text-8 {height: 75px}
.u-section-7 .u-layout-cell-4 {min-height: 350px}
.u-section-7 .u-text-9 {height: 28px}
.u-section-7 .u-text-10 {height: 75px} }

@media (max-width: 991px){ .u-section-7 {min-height: 902px}
.u-section-7 .u-sheet-1 {min-height: 975px}
.u-section-7 .u-text-1 {margin-left: 161px; margin-right: 171px}
.u-section-7 .u-layout-wrap-1 {width: 720px}
.u-section-7 .u-layout-cell-1 {min-height: 100px}
.u-section-7 .u-layout-cell-2 {min-height: 100px}
.u-section-7 .u-layout-cell-3 {min-height: 100px}
.u-section-7 .u-layout-cell-4 {min-height: 100px} }

@media (max-width: 767px){ .u-section-7 {min-height: 1270px}
.u-section-7 .u-sheet-1 {min-height: 1343px}
.u-section-7 .u-text-1 {margin-right: 128px; margin-left: 121px}
.u-section-7 .u-layout-wrap-1 {width: 540px}
.u-section-7 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-7 .u-text-1 {margin-right: 81px; margin-left: 76px}
.u-section-7 .u-layout-wrap-1 {width: 340px} }.u-section-8 .u-sheet-1 {min-height: 1031px}
.u-section-8 .u-text-1 {font-weight: 900; font-size: 3rem; margin: 97px auto 0}
.u-section-8 .u-group-1 {width: 1247px; min-height: 477px; margin: 116px auto 0 -44px}
.u-section-8 .u-container-layout-1 {padding: 30px}
.u-section-8 .u-group-2 {width: 574px; min-height: 621px; margin: -99px auto 0 0}
.u-section-8 .u-container-layout-2 {padding: 30px}
.u-section-8 .u-text-2 {font-weight: 700; font-size: 2.5rem; margin: 0 auto 0 0}
.u-section-8 .u-text-3 {line-height: 2.6; letter-spacing: 0; margin: 0 0 0 13px}
.u-section-8 .u-image-1 {width: 494px; min-height: 340px; background-image: url("../images/orsus_newreleases-1.jpg"); margin: 106px auto -97px 7px}
.u-section-8 .u-container-layout-3 {padding: 30px}
.u-section-8 .u-group-4 {width: 578px; min-height: 637px; margin: -650px auto 60px 593px}
.u-section-8 .u-container-layout-4 {padding: 30px 30px 0}
.u-section-8 .u-text-4 {font-weight: 700; font-size: 2.5rem; margin: 0 auto 0 0}
.u-section-8 .u-text-5 {line-height: 2.6; letter-spacing: 0; margin: 0 0 0 13px}
.u-section-8 .u-image-2 {width: 494px; min-height: 340px; background-image: url("../images/orsus_newreleases-2.jpg"); background-position: 50% 50%; margin: 60px auto -46px}
.u-section-8 .u-container-layout-5 {padding: 30px} 

@media (max-width: 1199px){ .u-section-8 .u-group-1 {width: 940px; margin-left: 0}
.u-section-8 .u-group-4 {margin-left: 362px} }

@media (max-width: 991px){ .u-section-8 .u-group-1 {width: 720px}
.u-section-8 .u-group-4 {margin-left: 142px} }

@media (max-width: 767px){ .u-section-8 .u-group-1 {width: 540px}
.u-section-8 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-8 .u-group-2 {width: 520px}
.u-section-8 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-8 .u-text-3 {margin-left: 0}
.u-section-8 .u-image-1 {margin-left: 6px}
.u-section-8 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-8 .u-group-4 {width: 540px; margin-left: 0}
.u-section-8 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-8 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-8 .u-text-1 {font-size: 1.5rem}
.u-section-8 .u-group-1 {width: 340px}
.u-section-8 .u-group-2 {width: 320px}
.u-section-8 .u-text-2 {font-size: 1.5rem}
.u-section-8 .u-image-1 {width: 300px; margin-left: 0}
.u-section-8 .u-group-4 {width: 340px}
.u-section-8 .u-text-4 {font-size: 1.5rem}
.u-section-8 .u-text-5 {margin-left: 0}
.u-section-8 .u-image-2 {width: 320px} }.u-section-9 {background-image: none}
.u-section-9 .u-sheet-1 {min-height: 1222px}
.u-section-9 .u-text-1 {font-weight: 900; font-size: 3.25rem; width: 305px; margin: 20px auto 0}
.u-section-9 .u-list-1 {min-height: 772px; grid-gap: 10px 10px; grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px); grid-template-rows: auto; height: auto; margin: 42px auto 60px 0}
.u-section-9 .u-list-item-1 {width: 373px; margin-right: auto; margin-left: auto}
.u-section-9 .u-container-layout-1 {padding: 30px}
.u-section-9 .u-image-1 {width: 220px; height: 220px; background-image: url("../images/orsus_team-1.jpg"); background-position: 50% 50%; margin: 0 auto}
.u-section-9 .u-text-2 {margin: 8px auto 0 20px}
.u-section-9 .u-icon-1 {height: 34px; width: 34px; background-image: none; margin: -8px 1px 0 auto}
.u-section-9 .u-text-3 {font-weight: 700; margin: -24px auto 0 20px}
.u-section-9 .u-text-4 {margin: 20px 0 0 20px}
.u-section-9 .u-btn-1 {border-style: none; margin: 20px auto 0 20px; padding: 0}
.u-section-9 .u-list-item-2 {width: 373px; margin-right: auto; margin-left: auto}
.u-section-9 .u-container-layout-2 {padding: 30px}
.u-section-9 .u-image-2 {width: 220px; height: 220px; background-image: url("../images/orsus_team-2.jpg"); background-position: 50% 50%; margin: 0 auto}
.u-section-9 .u-text-5 {margin: 8px auto 0 20px}
.u-section-9 .u-icon-2 {height: 34px; width: 34px; background-image: none; margin: -8px 1px 0 auto}
.u-section-9 .u-text-6 {font-weight: 700; margin: -24px auto 0 20px}
.u-section-9 .u-text-7 {margin: 20px 0 0 20px}
.u-section-9 .u-btn-2 {border-style: none; margin: 20px auto 0 20px; padding: 0}
.u-section-9 .u-list-item-3 {width: 373px; margin-right: auto; margin-left: auto}
.u-section-9 .u-container-layout-3 {padding: 30px}
.u-section-9 .u-image-3 {width: 220px; height: 220px; background-image: url("../images/orsus_team-3.jpg"); background-position: 50% 50%; margin: 0 auto}
.u-section-9 .u-text-8 {margin: 8px auto 0 20px}
.u-section-9 .u-icon-3 {height: 34px; width: 34px; background-image: none; margin: -8px 1px 0 auto}
.u-section-9 .u-text-9 {font-weight: 700; margin: -24px auto 0 20px}
.u-section-9 .u-text-10 {margin: 20px 0 0 20px}
.u-section-9 .u-btn-3 {border-style: none; margin: 20px auto 0 20px; padding: 0}
.u-section-9 .u-list-item-4 {width: 373px; margin-right: auto; margin-left: auto}
.u-section-9 .u-container-layout-4 {padding: 30px}
.u-section-9 .u-image-4 {width: 220px; height: 220px; background-image: url("../images/orsus_team-4.jpg"); background-position: 50% 50%; margin: 0 auto}
.u-section-9 .u-text-11 {margin: 8px auto 0 20px}
.u-section-9 .u-icon-4 {height: 34px; width: 34px; background-image: none; margin: -8px 1px 0 auto}
.u-section-9 .u-text-12 {font-weight: 700; margin: -24px auto 0 20px}
.u-section-9 .u-text-13 {margin: 20px 0 0 20px}
.u-section-9 .u-btn-4 {border-style: none; margin: 20px auto 0 20px; padding: 0}
.u-section-9 .u-list-item-5 {width: 373px; margin-right: auto; margin-left: auto}
.u-section-9 .u-container-layout-5 {padding: 30px}
.u-section-9 .u-image-5 {width: 220px; height: 220px; background-image: url("../images/orsus_team-5.jpg"); background-position: 50% 50%; margin: 0 auto}
.u-section-9 .u-text-14 {margin: 8px auto 0 20px}
.u-section-9 .u-icon-5 {height: 34px; width: 34px; background-image: none; margin: -8px 1px 0 auto}
.u-section-9 .u-text-15 {font-weight: 700; margin: -24px auto 0 20px}
.u-section-9 .u-text-16 {margin: 20px 0 0 20px}
.u-section-9 .u-btn-5 {border-style: none; margin: 20px auto 0 20px; padding: 0}
.u-section-9 .u-list-item-6 {width: 373px; margin-right: auto; margin-left: auto}
.u-section-9 .u-container-layout-6 {padding: 30px}
.u-section-9 .u-image-6 {width: 220px; height: 220px; background-image: url("../images/orsus_team-6.jpg"); background-position: 50% 50%; margin: 0 auto}
.u-section-9 .u-text-17 {margin: 8px auto 0 20px}
.u-section-9 .u-icon-6 {height: 34px; width: 34px; background-image: none; margin: -8px 1px 0 auto}
.u-section-9 .u-text-18 {font-weight: 700; margin: -24px auto 0 20px}
.u-section-9 .u-text-19 {margin: 20px 0 0 20px}
.u-section-9 .u-btn-6 {border-style: none; margin: 20px auto 0 20px; padding: 0}
.u-section-9 .u-list-item-7 {width: 373px; margin-right: auto; margin-left: auto}
.u-section-9 .u-container-layout-7 {padding: 30px}
.u-section-9 .u-image-7 {width: 220px; height: 220px; background-image: url("../images/orsus_team-7.jpg"); background-position: 50% 50%; margin: 0 auto}
.u-section-9 .u-text-20 {margin: 8px auto 0 20px}
.u-section-9 .u-icon-7 {height: 34px; width: 34px; background-image: none; margin: -8px 1px 0 auto}
.u-section-9 .u-text-21 {font-weight: 700; margin: -24px auto 0 20px}
.u-section-9 .u-text-22 {margin: 20px 0 0 20px}
.u-section-9 .u-btn-7 {border-style: none; margin: 20px auto 0 20px; padding: 0} 

@media (max-width: 1199px){ .u-section-9 .u-sheet-1 {min-height: 1087px}
.u-section-9 .u-list-1 {min-height: 637px; grid-template-columns: repeat(3, calc(33.333333333333336% - 7px)); margin-right: initial; margin-left: initial}
.u-section-9 .u-text-2 {margin-left: 16px}
.u-section-9 .u-text-3 {margin-left: 16px}
.u-section-9 .u-text-4 {margin-left: 16px}
.u-section-9 .u-btn-1 {margin-left: 0; margin-right: 0}
.u-section-9 .u-text-5 {margin-left: 16px}
.u-section-9 .u-text-6 {margin-left: 16px}
.u-section-9 .u-text-7 {margin-left: 16px}
.u-section-9 .u-btn-2 {margin-left: 0; margin-right: 0}
.u-section-9 .u-text-8 {margin-left: 16px}
.u-section-9 .u-text-9 {margin-left: 16px}
.u-section-9 .u-text-10 {margin-left: 16px}
.u-section-9 .u-btn-3 {margin-left: 0; margin-right: 0}
.u-section-9 .u-text-11 {margin-left: 16px}
.u-section-9 .u-text-12 {margin-left: 16px}
.u-section-9 .u-text-13 {margin-left: 16px}
.u-section-9 .u-btn-4 {margin-left: 0; margin-right: 0}
.u-section-9 .u-text-14 {margin-left: 16px}
.u-section-9 .u-text-15 {margin-left: 16px}
.u-section-9 .u-text-16 {margin-left: 16px}
.u-section-9 .u-btn-5 {margin-left: 0; margin-right: 0}
.u-section-9 .u-text-17 {margin-left: 16px}
.u-section-9 .u-text-18 {margin-left: 16px}
.u-section-9 .u-text-19 {margin-left: 16px}
.u-section-9 .u-btn-6 {margin-left: 0; margin-right: 0}
.u-section-9 .u-text-20 {margin-left: 16px}
.u-section-9 .u-text-21 {margin-left: 16px}
.u-section-9 .u-text-22 {margin-left: 16px}
.u-section-9 .u-btn-7 {margin-left: 0; margin-right: 0} }

@media (max-width: 991px){ .u-section-9 .u-sheet-1 {min-height: 1548px}
.u-section-9 .u-list-1 {min-height: 976px; grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px)); margin-right: initial; margin-left: initial}
.u-section-9 .u-text-2 {margin-left: 12px}
.u-section-9 .u-text-3 {margin-left: 12px}
.u-section-9 .u-text-4 {margin-left: 12px}
.u-section-9 .u-text-5 {margin-left: 12px}
.u-section-9 .u-text-6 {margin-left: 12px}
.u-section-9 .u-text-7 {margin-left: 12px}
.u-section-9 .u-text-8 {margin-left: 12px}
.u-section-9 .u-text-9 {margin-left: 12px}
.u-section-9 .u-text-10 {margin-left: 12px}
.u-section-9 .u-text-11 {margin-left: 12px}
.u-section-9 .u-text-12 {margin-left: 12px}
.u-section-9 .u-text-13 {margin-left: 12px}
.u-section-9 .u-text-14 {margin-left: 12px}
.u-section-9 .u-text-15 {margin-left: 12px}
.u-section-9 .u-text-16 {margin-left: 12px}
.u-section-9 .u-text-17 {margin-left: 12px}
.u-section-9 .u-text-18 {margin-left: 12px}
.u-section-9 .u-text-19 {margin-left: 12px}
.u-section-9 .u-text-20 {margin-left: 12px}
.u-section-9 .u-text-21 {margin-left: 12px}
.u-section-9 .u-text-22 {margin-left: 12px} }

@media (max-width: 767px){ .u-section-9 .u-list-1 {grid-template-columns: 100%; margin-right: initial; margin-left: initial}
.u-section-9 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-text-2 {margin-left: 9px}
.u-section-9 .u-text-3 {margin-left: 9px}
.u-section-9 .u-text-4 {margin-left: 9px}
.u-section-9 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-text-5 {margin-left: 9px}
.u-section-9 .u-text-6 {margin-left: 9px}
.u-section-9 .u-text-7 {margin-left: 9px}
.u-section-9 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-text-8 {margin-left: 9px}
.u-section-9 .u-text-9 {margin-left: 9px}
.u-section-9 .u-text-10 {margin-left: 9px}
.u-section-9 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-text-11 {margin-left: 9px}
.u-section-9 .u-text-12 {margin-left: 9px}
.u-section-9 .u-text-13 {margin-left: 9px}
.u-section-9 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-text-14 {margin-left: 9px}
.u-section-9 .u-text-15 {margin-left: 9px}
.u-section-9 .u-text-16 {margin-left: 9px}
.u-section-9 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-text-17 {margin-left: 9px}
.u-section-9 .u-text-18 {margin-left: 9px}
.u-section-9 .u-text-19 {margin-left: 9px}
.u-section-9 .u-container-layout-7 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-text-20 {margin-left: 9px}
.u-section-9 .u-text-21 {margin-left: 9px}
.u-section-9 .u-text-22 {margin-left: 9px} }

@media (max-width: 575px){ .u-section-9 .u-text-1 {font-size: 1.5rem}
.u-section-9 .u-text-2 {margin-left: 6px}
.u-section-9 .u-text-3 {margin-left: 6px}
.u-section-9 .u-text-4 {margin-left: 6px}
.u-section-9 .u-text-5 {margin-left: 6px}
.u-section-9 .u-text-6 {margin-left: 6px}
.u-section-9 .u-text-7 {margin-left: 6px}
.u-section-9 .u-text-8 {margin-left: 6px}
.u-section-9 .u-text-9 {margin-left: 6px}
.u-section-9 .u-text-10 {margin-left: 6px}
.u-section-9 .u-text-11 {margin-left: 6px}
.u-section-9 .u-text-12 {margin-left: 6px}
.u-section-9 .u-text-13 {margin-left: 6px}
.u-section-9 .u-text-14 {margin-left: 6px}
.u-section-9 .u-text-15 {margin-left: 6px}
.u-section-9 .u-text-16 {margin-left: 6px}
.u-section-9 .u-text-17 {margin-left: 6px}
.u-section-9 .u-text-18 {margin-left: 6px}
.u-section-9 .u-text-19 {margin-left: 6px}
.u-section-9 .u-text-20 {margin-left: 6px}
.u-section-9 .u-text-21 {margin-left: 6px}
.u-section-9 .u-text-22 {margin-left: 6px} }.u-section-10 .u-sheet-1 {min-height: 841px}
.u-section-10 .u-text-1 {font-weight: 900; font-size: 3.25rem; margin: 60px 399px 0 418px}
.u-section-10 .u-list-1 {min-height: 460px; grid-gap: 10px 10px; grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px); grid-template-rows: auto; height: auto; margin: -3px auto 60px 0}
.u-section-10 .u-list-item-1 {width: 373px; margin-right: auto; margin-left: auto}
.u-section-10 .u-container-layout-1 {padding: 30px}
.u-section-10 .u-image-1 {height: 210px; width: 374px; margin: 0 auto 0 0}
.u-section-10 .u-text-2 {font-weight: 700; margin: 20px auto 0 0}
.u-section-10 .u-icon-1 {height: 34px; width: 34px; background-image: none; margin: -12px 1px 0 auto}
.u-section-10 .u-text-3 {margin: -22px 55px 0 4px}
.u-section-10 .u-text-4 {margin: 20px auto 0 0}
.u-section-10 .u-btn-1 {border-style: none; margin: 13px auto 0 0; padding: 0}
.u-section-10 .u-list-item-2 {width: 373px; margin-right: auto; margin-left: auto}
.u-section-10 .u-container-layout-2 {padding: 30px}
.u-section-10 .u-image-2 {height: 210px; width: 374px; margin: 0 auto 0 0}
.u-section-10 .u-text-5 {font-weight: 700; margin: 20px auto 0 0}
.u-section-10 .u-icon-2 {height: 34px; width: 34px; background-image: none; margin: -12px 1px 0 auto}
.u-section-10 .u-text-6 {margin: -22px 55px 0 4px}
.u-section-10 .u-text-7 {margin: 20px auto 0 0}
.u-section-10 .u-btn-2 {border-style: none; margin: 13px auto 0 0; padding: 0}
.u-section-10 .u-list-item-3 {width: 373px; margin-right: auto; margin-left: auto}
.u-section-10 .u-container-layout-3 {padding: 30px}
.u-section-10 .u-image-3 {height: 210px; width: 374px; margin: 0 auto 0 0}
.u-section-10 .u-text-8 {font-weight: 700; margin: 20px auto 0 0}
.u-section-10 .u-icon-3 {height: 34px; width: 34px; background-image: none; margin: -12px 1px 0 auto}
.u-section-10 .u-text-9 {margin: -22px 55px 0 4px}
.u-section-10 .u-text-10 {margin: 20px auto 0 0}
.u-section-10 .u-btn-3 {border-style: none; margin: 13px auto 0 0; padding: 0} 

@media (max-width: 1199px){ .u-section-10 .u-text-1 {margin-left: 318px; margin-right: 299px}
.u-section-10 .u-list-1 {min-height: 379px; grid-template-columns: repeat(3, calc(33.333333333333336% - 7px)); margin-right: initial; margin-left: initial}
.u-section-10 .u-image-1 {height: 166px; margin-right: initial; margin-left: initial; width: auto}
.u-section-10 .u-text-3 {margin-left: 3px}
.u-section-10 .u-image-2 {height: 139px; margin-right: initial; margin-left: initial; width: auto}
.u-section-10 .u-image-3 {height: 139px; margin-right: initial; margin-left: initial; width: auto} }

@media (max-width: 991px){ .u-section-10 .u-text-1 {margin-left: 208px; margin-right: 189px}
.u-section-10 .u-list-1 {min-height: 871px; grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px)); margin-right: initial; margin-left: initial}
.u-section-10 .u-image-1 {height: 197px; width: auto; margin-right: initial; margin-left: initial}
.u-section-10 .u-text-3 {margin-left: 2px}
.u-section-10 .u-image-2 {height: 165px; width: auto; margin-right: initial; margin-left: initial}
.u-section-10 .u-image-3 {height: 165px; width: auto; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-10 .u-text-1 {margin-left: 118px; margin-right: 99px}
.u-section-10 .u-list-1 {grid-template-columns: 100%; margin-right: initial; margin-left: initial}
.u-section-10 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-10 .u-image-1 {height: 341px; width: auto; margin-right: initial; margin-left: initial}
.u-section-10 .u-text-3 {margin-right: 62px}
.u-section-10 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-10 .u-image-2 {height: 286px; width: auto; margin-right: initial; margin-left: initial}
.u-section-10 .u-text-6 {margin-right: 62px; margin-left: 5px}
.u-section-10 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-10 .u-image-3 {height: 286px; width: auto; margin-right: initial; margin-left: initial}
.u-section-10 .u-text-9 {margin-left: 5px} }

@media (max-width: 575px){ .u-section-10 .u-text-1 {font-size: 1.5rem; margin-left: 17px; margin-right: 0}
.u-section-10 .u-image-1 {height: 180px; width: auto; margin-right: initial; margin-left: initial}
.u-section-10 .u-text-3 {margin-left: 1px}
.u-section-10 .u-image-2 {height: 176px; width: auto; margin-right: initial; margin-left: initial}
.u-section-10 .u-image-3 {height: 176px; width: auto; margin-right: initial; margin-left: initial} }.u-section-11 {margin-top: 0; margin-bottom: 172px}
.u-section-11 .u-sheet-1 {min-height: 561px}
.u-section-11 .u-text-1 {font-weight: 900; font-size: 3.25rem; margin: 60px auto 0}
.u-section-11 .u-list-1 {min-height: 288px; grid-gap: 10px 10px; grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px); grid-template-rows: auto; height: auto; width: 1140px; margin: -14px auto 60px 92px}
.u-section-11 .u-container-layout-1 {padding: 30px}
.u-section-11 .u-image-1 {width: 202px; height: 79px; margin: 0 auto 0 -118px}
.u-section-11 .u-container-layout-2 {padding: 30px}
.u-section-11 .u-image-2 {width: 202px; height: 79px; margin: 0 auto 0 -118px}
.u-section-11 .u-container-layout-3 {padding: 30px}
.u-section-11 .u-image-3 {width: 202px; height: 79px; margin: 0 auto 0 -118px}
.u-section-11 .u-list-item-4 {width: 220px; margin-right: auto; margin-left: auto}
.u-section-11 .u-container-layout-4 {padding: 30px}
.u-section-11 .u-image-4 {width: 202px; height: 79px; margin: 0 auto 0 -118px}
.u-section-11 .u-container-layout-5 {padding: 30px}
.u-section-11 .u-image-5 {width: 202px; height: 79px; margin: 0 auto 0 -118px} 

@media (max-width: 1199px){ .u-section-11 .u-sheet-1 {min-height: 184px}
.u-section-11 .u-list-1 {min-height: 237px; grid-template-columns: repeat(5, calc(20% - 8px)); width: 940px; margin-left: 0} }

@media (max-width: 991px){ .u-section-11 .u-sheet-1 {min-height: 451px}
.u-section-11 .u-list-1 {min-height: 605px; grid-template-columns: repeat(3, calc(33.333333333333336% - 7px)); width: 720px} }

@media (max-width: 767px){ .u-section-11 .u-sheet-1 {min-height: 344px}
.u-section-11 .u-list-1 {min-height: 1021px; grid-template-columns: repeat(2, calc(((100% - 540px) / 2)  + 265px)); width: 540px}
.u-section-11 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-11 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-11 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-11 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-11 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-11 .u-text-1 {font-size: 1.5rem}
.u-section-11 .u-list-1 {grid-template-columns: repeat(2, calc(((100% - 340px) / 2)  + 165px)); width: 340px}
.u-section-11 .u-image-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-11 .u-image-2 {margin-right: initial; margin-left: initial; width: auto}
.u-section-11 .u-image-3 {margin-right: initial; margin-left: initial; width: auto}
.u-section-11 .u-image-4 {margin-right: initial; margin-left: initial; width: auto}
.u-section-11 .u-image-5 {margin-right: initial; margin-left: initial; width: auto} }.u-section-12 {margin-top: 0; margin-bottom: 172px}
.u-section-12 .u-sheet-1 {min-height: 590px}
.u-section-12 .u-text-1 {font-weight: 900; font-size: 3.25rem; width: 302px; margin: 45px auto 0}
.u-section-12 .u-layout-wrap-1 {margin: 81px auto 60px 0}
.u-section-12 .u-image-1 {background-image: url("../images/orsus_ourpartners-1.png"); background-position: 50% 50%; min-height: 165px}
.u-section-12 .u-container-layout-1 {padding: 30px}
.u-section-12 .u-image-2 {background-image: url("../images/orsus_ourpartners-2.png"); background-position: 50% 50%; min-height: 165px}
.u-section-12 .u-container-layout-2 {padding: 30px}
.u-section-12 .u-image-3 {background-image: url("../images/orsus_ourpartners-3.png"); background-position: 50% 50%; min-height: 165px}
.u-section-12 .u-container-layout-3 {padding: 30px}
.u-section-12 .u-image-4 {background-image: url("../images/orsus_ourpartners-4.png"); background-position: 50% 50%; min-height: 165px}
.u-section-12 .u-container-layout-4 {padding: 30px}
.u-section-12 .u-image-5 {background-image: url("../images/orsus_ourpartners-5.png"); min-height: 165px}
.u-section-12 .u-container-layout-5 {padding: 30px}
.u-section-12 .u-image-6 {min-height: 158px; background-image: url("../images/orsus_ourpartners-6.png")}
.u-section-12 .u-container-layout-6 {padding: 30px}
.u-section-12 .u-image-7 {min-height: 158px; background-image: url("../images/orsus_ourpartners-7.png")}
.u-section-12 .u-container-layout-7 {padding: 30px}
.u-section-12 .u-image-8 {min-height: 158px; background-image: url("../images/orsus_ourpartners-8.png")}
.u-section-12 .u-container-layout-8 {padding: 30px}
.u-section-12 .u-image-9 {min-height: 158px; background-image: url("../images/orsus_ourpartners-9.png")}
.u-section-12 .u-container-layout-9 {padding: 30px}
.u-section-12 .u-image-10 {min-height: 158px; background-image: url("../images/orsus_ourpartners-10.png")}
.u-section-12 .u-container-layout-10 {padding: 30px} 

@media (max-width: 1199px){ .u-section-12 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-12 .u-image-1 {min-height: 136px}
.u-section-12 .u-image-2 {min-height: 136px}
.u-section-12 .u-image-3 {min-height: 136px}
.u-section-12 .u-image-4 {min-height: 136px}
.u-section-12 .u-image-5 {min-height: 136px}
.u-section-12 .u-image-6 {min-height: 130px}
.u-section-12 .u-image-7 {min-height: 130px}
.u-section-12 .u-image-8 {min-height: 130px}
.u-section-12 .u-image-9 {min-height: 130px}
.u-section-12 .u-image-10 {min-height: 130px} }

@media (max-width: 991px){ .u-section-12 .u-image-1 {min-height: 174px}
.u-section-12 .u-image-2 {min-height: 174px}
.u-section-12 .u-image-3 {min-height: 174px}
.u-section-12 .u-image-4 {min-height: 260px}
.u-section-12 .u-image-5 {min-height: 260px}
.u-section-12 .u-image-6 {min-height: 166px}
.u-section-12 .u-image-7 {min-height: 166px}
.u-section-12 .u-image-8 {min-height: 166px}
.u-section-12 .u-image-9 {min-height: 249px}
.u-section-12 .u-image-10 {min-height: 249px} }

@media (max-width: 767px){ .u-section-12 .u-image-1 {min-height: 392px}
.u-section-12 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-12 .u-image-2 {min-height: 392px}
.u-section-12 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-12 .u-image-3 {min-height: 392px}
.u-section-12 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-12 .u-image-4 {min-height: 390px}
.u-section-12 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-12 .u-image-5 {min-height: 390px}
.u-section-12 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-12 .u-image-6 {min-height: 374px}
.u-section-12 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-12 .u-image-7 {min-height: 374px}
.u-section-12 .u-container-layout-7 {padding-left: 10px; padding-right: 10px}
.u-section-12 .u-image-8 {min-height: 374px}
.u-section-12 .u-container-layout-8 {padding-left: 10px; padding-right: 10px}
.u-section-12 .u-image-9 {min-height: 374px}
.u-section-12 .u-container-layout-9 {padding-left: 10px; padding-right: 10px}
.u-section-12 .u-image-10 {min-height: 374px}
.u-section-12 .u-container-layout-10 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-12 .u-sheet-1 {min-height: 41px}
.u-section-12 .u-text-1 {font-size: 1.5rem}
.u-section-12 .u-image-1 {min-height: 247px}
.u-section-12 .u-image-2 {min-height: 247px}
.u-section-12 .u-image-3 {min-height: 247px}
.u-section-12 .u-image-4 {min-height: 246px}
.u-section-12 .u-image-5 {min-height: 246px}
.u-section-12 .u-image-6 {min-height: 235px}
.u-section-12 .u-image-7 {min-height: 235px}
.u-section-12 .u-image-8 {min-height: 235px}
.u-section-12 .u-image-9 {min-height: 235px}
.u-section-12 .u-image-10 {min-height: 235px} }.u-block-6614-1 {margin-top: 0; margin-bottom: 0}
.u-block-6614-2 {position: absolute; bottom: 10px}
.u-block-6614-3 {position: absolute; left: calc(((100% - 1140px) / 2)  + -74px); width: 40px; height: 40px; right: auto}
.u-block-6614-4 {position: absolute; width: 40px; height: 40px; left: auto; right: calc(((100% - 1140px) / 2)  + -80px)} 

@media (max-width: 1199px){ .u-block-6614-3 {left: calc(((100% - 940px) / 2)  + -174px)}
.u-block-6614-4 {right: calc(((100% - 940px) / 2)  + -180px)} }

@media (max-width: 991px){ .u-block-6614-3 {left: calc(((100% - 720px) / 2)  + -284px)}
.u-block-6614-4 {right: calc(((100% - 720px) / 2)  + -290px)} }

@media (max-width: 767px){ .u-block-6614-3 {left: calc(((100% - 540px) / 2)  + -374px)}
.u-block-6614-4 {right: calc(((100% - 540px) / 2)  + -380px)} }

@media (max-width: 575px){ .u-block-6614-3 {left: calc(((100% - 340px) / 2)  + -474px)}
.u-block-6614-4 {right: calc(((100% - 340px) / 2)  + -480px)} }.u-section-13-1 {background-image: none}
.u-section-13-1 .u-sheet-1 {min-height: 610px}
.u-section-13-1 .u-text-1 {font-weight: 900; font-size: 3.25rem; margin: 44px auto 0}
.u-section-13-1 .u-group-1 {width: 376px; min-height: 292px; height: auto; margin: 89px auto 0 -13px}
.u-section-13-1 .u-container-layout-1 {padding: 30px}
.u-section-13-1 .u-image-1 {width: 192px; height: 62px; margin: 30px auto 0}
.u-section-13-1 .u-text-2 {margin: 19px 0 0 9px}
.u-section-13-1 .u-group-2 {width: 376px; min-height: 292px; height: auto; margin: -292px auto 0}
.u-section-13-1 .u-container-layout-2 {padding: 30px}
.u-section-13-1 .u-image-2 {width: 192px; height: 62px; margin: 37px auto 0}
.u-section-13-1 .u-text-3 {margin: 9px 0 0 9px}
.u-section-13-1 .u-group-3 {width: 376px; min-height: 292px; height: auto; margin: -292px auto 60px 777px}
.u-section-13-1 .u-container-layout-3 {padding: 30px}
.u-section-13-1 .u-image-3 {width: 192px; height: 62px; margin: 38px auto 0}
.u-section-13-1 .u-text-4 {margin: 0 0 0 9px} 

@media (max-width: 1199px){ .u-section-13-1 .u-group-3 {margin-left: 564px} }

@media (max-width: 991px){ .u-section-13-1 .u-group-3 {margin-left: 344px} }

@media (max-width: 767px){ .u-section-13-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-13-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-13-1 .u-group-3 {margin-left: 164px}
.u-section-13-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-13-1 .u-text-1 {font-size: 1.5rem}
.u-section-13-1 .u-group-1 {width: 340px; margin-left: 0}
.u-section-13-1 .u-text-2 {margin-left: 0}
.u-section-13-1 .u-group-2 {width: 340px}
.u-section-13-1 .u-text-3 {margin-left: 0}
.u-section-13-1 .u-group-3 {width: 340px; margin-left: 0}
.u-section-13-1 .u-text-4 {margin-left: 0} }.u-section-14 {margin-top: 0; margin-bottom: 172px}
.u-section-14 .u-sheet-1 {min-height: 749px}
.u-section-14 .u-text-1 {font-weight: 900; font-size: 3.25rem; width: 289px; margin: 20px auto 0}
.u-section-14 .u-group-1 {width: 525px; min-height: 404px; height: auto; margin: 116px auto 0 0}
.u-section-14 .u-container-layout-1 {padding: 30px}
.u-section-14 .u-group-2 {min-height: 404px; height: auto; width: 511px; background-image: none; margin: 0 auto 0 -46px}
.u-section-14 .u-container-layout-2 {padding: 30px 30px 0}
.u-section-14 .u-text-2 {font-weight: 700; font-size: 2.5rem; margin: 0}
.u-section-14 .u-btn-1 {border-style: none; background-image: none; margin: -15px -30px 0 auto}
.u-section-14 .u-image-1 {width: 412px; height: 216px; margin: -404px auto 0 -30px}
.u-section-14 .u-group-3 {width: 525px; min-height: 404px; height: auto; margin: -404px 0 60px auto}
.u-section-14 .u-container-layout-3 {padding: 25px 30px}
.u-section-14 .u-group-4 {width: 511px; min-height: 410px; height: auto; margin: 0 auto -49px -46px}
.u-section-14 .u-container-layout-4 {padding: 30px}
.u-section-14 .u-image-2 {width: 412px; height: 216px; margin: -30px auto 0 -12px}
.u-section-14 .u-text-3 {font-weight: 700; font-size: 2.5rem; margin: 20px 116px 0 -12px}
.u-section-14 .u-btn-2 {border-style: none; background-image: none; margin: -12px -30px -33px auto} 

@media (max-width: 1199px){ .u-section-14 .u-group-2 {width: 465px; margin-left: 0; background-position: 50% 50%}
.u-section-14 .u-btn-1 {margin-right: 0} }

@media (max-width: 767px){ .u-section-14 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-14 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-14 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-14 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-14 .u-text-1 {font-size: 1.5rem}
.u-section-14 .u-group-1 {width: 340px}
.u-section-14 .u-group-2 {width: 320px}
.u-section-14 .u-text-2 {font-size: 1.5rem}
.u-section-14 .u-image-1 {width: 320px; height: 168px; margin-left: 0}
.u-section-14 .u-group-3 {width: 340px}
.u-section-14 .u-group-4 {width: 320px; margin-left: 0}
.u-section-14 .u-image-2 {width: 300px; height: 157px; margin-left: 0}
.u-section-14 .u-text-3 {font-size: 1.5rem; margin-right: 0; margin-left: 0}
.u-section-14 .u-btn-2 {margin-right: 0} }.u-section-15 {margin-top: 0; margin-bottom: 0px; background-image: none}
.u-section-15 .u-sheet-1 {min-height: 1101px}
.u-section-15 .u-text-1 {font-weight: 900; font-size: 3.25rem; width: 289px; margin: 60px auto 0}
.u-section-15 .u-form-1 {height: 286px; margin: 111px 307px 0 323px}
.u-section-15 .u-input-1 {font-size: 1.125rem; text-transform: none}
.u-section-15 .u-input-2 {font-size: 1.125rem; text-transform: none}
.u-section-15 .u-input-3 {font-size: 1.125rem; text-transform: none}
.u-section-15 .u-btn-1 {background-image: none; border-style: solid; text-transform: uppercase; letter-spacing: 2px; font-size: 1.125rem}
.u-section-15 .u-image-1 {width: 182px; height: 37px; margin: 304px auto 0 0}
.u-section-15 .u-text-2 {margin: -39px auto 0 300px}
.u-section-15 .u-text-3 {margin: -27px auto 0 499px}
.u-section-15 .u-text-4 {margin: -25px 380px 0 auto}
.u-section-15 .u-text-5 {font-weight: 700; margin: -25px 111px 0 auto}
.u-section-15 .u-text-6 {margin: 22px 697px 0 299px}
.u-section-15 .u-text-7 {width: 144px; margin: -27px auto 0}
.u-section-15 .u-text-8 {margin: -23px 307px 0 688px}
.u-section-15 .u-social-icons-1 {white-space: nowrap; height: 22px; min-height: 16px; width: 117px; min-width: 94px; margin: -27px 117px 0 auto}
.u-section-15 .u-icon-1 {height: 100%}
.u-section-15 .u-icon-2 {height: 100%}
.u-section-15 .u-icon-3 {height: 100%}
.u-section-15 .u-icon-4 {height: 100%}
.u-section-15 .u-text-9 {font-size: 0.875rem; margin: 7px 887px 0 7px}
.u-section-15 .u-text-10 {margin: -48px 682px 0 300px}
.u-section-15 .u-text-11 {width: 145px; margin: -50px auto 0}
.u-section-15 .u-text-12 {margin: -25px 309px 0 687px}
.u-section-15 .u-text-13 {font-size: 0.875rem; margin: -30px -14px 0 906px}
.u-section-15 .u-text-14 {margin: 8px 484px 0 498px}
.u-section-15 .u-text-15 {margin: -2px 697px 60px 298px} 

@media (max-width: 1199px){ .u-section-15 {min-height: 100px}
.u-section-15 .u-text-1 {height: 57px}
.u-section-15 .u-form-1 {width: 510px; margin-right: 207px; margin-left: 223px}
.u-section-15 .u-text-2 {width: 92px; height: 25px; margin-top: -30px; margin-left: 247px}
.u-section-15 .u-text-3 {margin-top: -86px; margin-left: 411px}
.u-section-15 .u-text-4 {margin-top: 117px; margin-right: 313px}
.u-section-15 .u-text-5 {margin-top: -100px; margin-right: 92px}
.u-section-15 .u-text-6 {width: 144px; height: 25px; margin-top: 149px; margin-right: 597px; margin-left: 199px}
.u-section-15 .u-text-7 {margin-top: -86px}
.u-section-15 .u-text-8 {width: 145px; margin-top: -66px; margin-right: 207px; margin-left: 588px}
.u-section-15 .u-social-icons-1 {margin-top: -52px}
.u-section-15 .u-text-9 {margin-top: 107px; margin-right: 694px; margin-left: 0}
.u-section-15 .u-text-10 {width: 158px; height: 50px; margin-right: 582px; margin-left: 200px}
.u-section-15 .u-text-11 {margin-top: -100px}
.u-section-15 .u-text-12 {width: 144px; margin-top: 78px; margin-right: 209px; margin-left: 587px}
.u-section-15 .u-text-13 {margin-top: -183px; margin-left: 747px}
.u-section-15 .u-text-14 {margin-top: -59px; margin-right: 384px; margin-left: 398px}
.u-section-15 .u-text-15 {width: 158px; height: 50px; margin-top: 115px; margin-right: 597px; margin-left: 821px} }

@media (max-width: 991px){ .u-section-15 {min-height: 674px}
.u-section-15 .u-form-1 {margin-right: 97px; margin-left: 113px}
.u-section-15 .u-text-2 {margin-left: 189px}
.u-section-15 .u-text-3 {margin-left: 315px}
.u-section-15 .u-text-4 {margin-right: 240px}
.u-section-15 .u-text-5 {margin-right: 70px}
.u-section-15 .u-text-6 {margin-right: 487px; margin-left: 89px}
.u-section-15 .u-text-8 {margin-right: 97px; margin-left: 478px}
.u-section-15 .u-text-9 {margin-right: 474px}
.u-section-15 .u-text-10 {margin-right: 472px; margin-left: 90px}
.u-section-15 .u-text-12 {margin-right: 99px; margin-left: 477px}
.u-section-15 .u-text-13 {margin-left: 572px}
.u-section-15 .u-text-14 {margin-right: 274px; margin-left: 288px}
.u-section-15 .u-text-15 {margin-right: 169px; margin-left: 629px} }

@media (max-width: 767px){ .u-section-15 {min-height: 1739px}
.u-section-15 .u-form-1 {margin-right: 7px; margin-left: 23px}
.u-section-15 .u-text-2 {margin-left: 142px}
.u-section-15 .u-text-3 {margin-left: 236px}
.u-section-15 .u-text-4 {margin-right: 180px}
.u-section-15 .u-text-5 {margin-right: 53px}
.u-section-15 .u-text-6 {margin-right: 396px; margin-left: 0}
.u-section-15 .u-text-8 {margin-right: 7px; margin-left: 388px}
.u-section-15 .u-text-9 {margin-right: 294px}
.u-section-15 .u-text-10 {margin-right: 382px; margin-left: 0}
.u-section-15 .u-text-12 {margin-right: 9px; margin-left: 387px}
.u-section-15 .u-text-13 {margin-left: 429px}
.u-section-15 .u-text-14 {margin-top: -81px; margin-right: 184px; margin-left: 198px}
.u-section-15 .u-text-15 {margin-right: 0; margin-left: 472px} }

@media (max-width: 575px){ .u-section-15 {min-height: 1028px}
.u-section-15 .u-text-1 {font-size: 1.5rem}
.u-section-15 .u-form-1 {width: 340px; margin-left: 0; margin-right: 0}
.u-section-15 .u-form-group-1 {width: 100%}
.u-section-15 .u-form-group-2 {width: 100%}
.u-section-15 .u-form-group-3 {width: 100%}
.u-section-15 .u-form-group-4 {width: 100%}
.u-section-15 .u-text-2 {margin-left: 89px}
.u-section-15 .u-text-3 {margin-left: 149px}
.u-section-15 .u-text-4 {margin-right: 113px}
.u-section-15 .u-text-5 {margin-right: 33px}
.u-section-15 .u-text-6 {margin-right: 196px}
.u-section-15 .u-text-8 {margin-right: 0; margin-left: 195px}
.u-section-15 .u-text-9 {margin-right: 94px}
.u-section-15 .u-text-10 {margin-right: 182px}
.u-section-15 .u-text-12 {margin-right: 0; margin-left: 196px}
.u-section-15 .u-text-13 {margin-left: 270px}
.u-section-15 .u-text-14 {margin-top: -103px; margin-right: 84px; margin-left: 98px}
.u-section-15 .u-text-15 {margin-left: 297px} }